ul {
  padding: 0;
}

li {
  &:hover {
    cursor: pointer;
    background-color: lightblue;
  }

  *:hover {
    cursor: pointer;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 20rem;
}

.content {
  display: flex;
  width: 100%;
}

.completed {
  text-decoration: line-through;
}

.textLabel {
  flex: 1;
}
